@model IEnumerable<PracticeProject.Models.Event>

@{
    ViewBag.Title = "Home Page";
}

<ul class="events">
    @foreach (var aevent in Model)
    {
    <li>
        <div class="date">
            <div class="month">
                @aevent.Datetime.ToString("MMM")
            </div>
            <div class="day">
                @aevent.Datetime.ToString("d ")
            </div>
        </div>

        <div class="details">
            <span class="artist">
                @aevent.Artist.Name
                <button data-user-id="@aevent.ArtistId" class="btn btn-link btn-sm js-toggle-follow">Follow</button>
            </span>
            <span class="genre">
                @aevent.Type.Name
            </span>

            <button data-event-id="@aevent.Id" class="btn btn-default btn--sm js-toggle-attendance">Going?</button>
        </div>
    </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function(){
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendance", { eventId: button.attr("data-event-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Something failed!")
                    });
            });
        });

        $(".js-toggle-follow").click(function (e) {
            var button = $(e.target);
            $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                .done(function () {
                    button.text("Following");
                })
                .fail(function () {
                    alert("something failed");
                });
        });
    </script>
}